<link href='http://fonts.googleapis.com/earlyaccess/hanna.css'>

<html lang="en">

    <!-- Header -->
    <header id="top" class="header" style="background-image:url('callout.jpg') ; font-family:Hanna ; color:white">
        <div class="text-vertical-center">
                    <h1>지금까지 들어온 질문들</h1>
 <% @qs.each do |q| %>
 <p><h3><b><%= q.name %></b> : <%=q.content %></h3></p>

 <p><a href = "/edit/<%=q.id%>">수정</a> | <a href="/delete/<%=q.id%>">삭제</a></p>
     <% q.comments.each do |c| %>
         <p><%= c.id%> : <%=c.content %> | <a href="/comments/delete/<%=c.id%>">삭제</a></p>
     <% end %>
     
    <form action = "/my-secret-view/<%=q.id%>/create" method=post style="color:black">
        <input type='textarea' name='comment' placeholder='답변 입력'>
        <input type='submit' value='답변 등록' style="background-color:333333">
    </form>
    
    <hr>
<%end%>
        </div>
    </header>
    <!-- About -->
    <section id="about" class="about" style="font-family:Hanna">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <h2><a href='/'>main으로 가기 </a></h2>
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>
                </div>
            </div>
        </div>
    </section>
</html>